<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-group table-view-material">

    <div class="form-check">
        <input class="form-check-input input-check-material" type="text"/>
        <label class="form-check-label">
        </label>
<!--        <input type="text" name="materialId[]" th:value="${material.id}">-->
<!--        <input style="width: 10%;display: none" type="number" name="amount[]"-->
<!--               class="form-control input-amount">-->

    </div>
</div>
<div>
<!--    <label>Material <span style="color: red">(*)</span> mg</label>-->
</div>
</body>
</html>